BACKEND_PORT=3000
FRONTEND_PORT=5173

# Backend vars
ENVIRONMENT=PROD
PUBLIC_FRONTEND_URL="https://lista.kaoshome.dev"
DB_USERNAME=aleks
DB_PASSWORD=aleks
DB_HOST=database
DB_NAME=lista
DB_PORT=5432
ENABLE_SQL_LOGGING=false
ENABLE_FILE_LOGGING=false

# Database vars
DATABASE_MIGRATION_URL=postgres://admin:admin@database:5432/lista?sslmode=disable
DBMATE_MIGRATIONS_TABLE=core.schema_migrations