BACKEND_PORT=3000
FRONTEND_PORT=5173

# Backend vars
ENVIRONMENT=PROD
PUBLIC_FRONTEND_URL="https://lista.kaoshome.dev"
DB_USERNAME=change_me
DB_PASSWORD=change_me
DB_HOST=database
DB_NAME=lista
DB_PORT=5432
ENABLE_SQL_LOGGING=false
ENABLE_FILE_LOGGING=false

# Database vars
DATABASE_MIGRATION_URL=postgres://change_me:change_me@database:5432/lista?sslmode=disable
DBMATE_MIGRATIONS_TABLE=core.schema_migrations
POSTGRES_DB=change_me
POSTGRES_USER=change_me
POSTGRES_PWD=change_me